<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>thriller</ion-title>
  </ion-toolbar>
</ion-header>
<img src="https://occ-0-1068-92.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABSnYF9bXuPLHuel7irhNcZ3aFeKwJ_-YhhL6c7XNs6dUVXtSEtEIwVCzg8o23u_NcswrXiainy399IMma7U6bPALPfB5tM1Jtc9e.png?r=f46">;
<ion-content>
  <h2>Top 5 Favourite Thriller Films</h2>
  <ul>1.The place beyond the pines</ul>
  <ul>2.Drive</ul>
  <ul>3.The nightingake</ul>
  <ul>4.Prisoners</ul>
  <ul>5.Blade Runnner</ul>
</ion-content>
