<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>comedy</ion-title>
  </ion-toolbar>
</ion-header>
<img src="https://storage.googleapis.com/ff-storage-p01/festivals/cover_photos/000/044/460/original/cover_photo.jpg?1534265115">
<ion-content>
  <h2>Top 5 Favourite Comedy Films</h2>
  <ul>1.Deadpool</ul>
  <ul>2.Knocked Up</ul>
  <ul>3.Three BillBoards outside Ebbing Missouri</ul>
  <ul>4.Hunt for the wilder Peopple</ul>
  <ul>5.Gguardians of the Galaxy</ul>
</ion-content>
